/**
*font-family: 'Inconsolata', monospace;
*
*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata');

/**
*font-family: 'Space Mono', monospace;
*
*/
@import url('https://fonts.googleapis.com/css2?family=Space+Mono');

/**
*font-family: 'Montserrat', sans-serif;
*
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

:root {
  --inconsolata: 'Inconsolata', monospace;
  --space-mono: 'Space Mono', monospace;
  --montserrat: 'Montserrat', sans-serif;

  --grey-1: #333333;
  --grey-2: #4f4f4f;
  --light-grey: #bdbdbd;
  --white: #ffffff;
}
