.container {
  font-family: 'Space Mono', monospace;

  display: flex;
  flex-direction: row;
  margin-top: 12.5em;
  margin-left: 4.8125em;
}

@media (max-width: 800px) {
  .container {
    margin-top: 7em;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .container {
    margin-top: 5.25em;
    margin-left: 0;
    display: block;
  }
}
