.container {
  font-family: 'Space Mono', monospace;

  display: flex;
  flex-direction: row;
  margin-top: 12.5rem;
  margin-left: 4.8125rem;
}

@media (max-width: 800px) {
  .container {
    margin-top: 4rem;
    margin-left: 0;
  }
}

@media (max-width: 680px) {
  .container {
    margin-top: 4rem;
    margin-left: 0;
    display: block;
  }
}
