footer {
  height: 17px;

  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 308px;
  margin-bottom: 24px;

  color: #bdbdbd;
}

@media (max-width: 480px) {
  .footer {
    margin-top: 114px;
  }
}
