.message {
  margin-left: 120px;
}

.message h1 {
  width: 586px;
  height: 190px;

  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 64px;
  line-height: 94px;
  letter-spacing: -0.035em;
  text-align: left;

  color: #333;
}

.message p {
  width: 381px;
  height: 108px;
  margin-top: 36px;

  font-family: Space Mono;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.035em;
  text-align: left;
}

.message button {
  width: 216px;
  height: 68px;
  margin-top: 64px;

  color: #fff;
  background-color: #333;
  text-transform: uppercase;

  font-family: Space Mono;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-align: center;

  border: none;
  cursor: pointer;
}

.message button:active {
  transform: translateY(4px);
}
