.message {
  margin-left: 7.4rem;
}

.msg__title {
  width: 36.625rem;
  height: 11.875rem;

  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  line-height: 5rem;
  letter-spacing: -0.035em;
  text-align: left;

  color: #333;
}

.msg__body {
  width: 23.8125rem;
  height: 6.75rem;
  margin-top: 2.25rem;

  font-family: Space Mono;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.22125rem;
  letter-spacing: -0.035em;
  text-align: left;
}

.msg__btn {
  width: 13.5rem;
  height: 4.25rem;
  margin-top: 4rem;

  color: #fff;
  background-color: #333;
  text-transform: uppercase;

  font-family: Space Mono;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.295625rem;
  letter-spacing: -0.035em;
  text-align: center;

  border: none;
  cursor: pointer;
}

.msg__btn:active {
  transform: translateY(4px);
}

@media (max-width: 800px) {
  .message {
    margin-left: 1.25rem;
  }

  .msg__title {
    width: 7.29em;
    height: 2.95em;

    font-size: 3rem;
    line-height: 1.45em;
    margin-right: 0.25em;
  }

  .msg__body {
    width: 18.225em;
    height: 4.5em;

    font-size: 1.125em;
  }

  .msg__btn {
    height: 4.25em;
    width: 13.5em;
    border-radius: 0;
  }
}

@media (max-width: 680px) {
  .message {
    margin-top: 3.75rem;
  }

  .msg__title {
    position: relative;
    height: 8.75rem;
    width: 21.875rem;
    margin-top: 4.8125rem;

    font-family: Space Mono;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.4375rem;
    letter-spacing: -0.035em;
    text-align: left;
  }

  .msg__body {
    width: 20.5rem;
    height: 5.0625rem;

    margin-top: 1.875rem;

    font-size: 1.125rem;
    line-height: 1.66625rem;
  }

  .msg__btn {
    margin-top: 4.125rem;
  }
}
