/**
*font-family: 'Inconsolata', monospace;
*
*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata');

/**
*font-family: 'Space Mono', monospace;
*
*/
@import url('https://fonts.googleapis.com/css2?family=Space+Mono');

/**
*font-family: 'Montserrat', sans-serif;
*
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

body {
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  padding: 0;
}
