.footer {
  margin-top: 7rem;
  margin-bottom: 1.5rem;
  text-align: center;

  font-family: var(--montserrat);
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--light-grey);
}

.footer__info {
  font-weight: 500;
}

.footer__user {
  font-weight: 700;
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .foot {
    margin-top: 19.25rem;
  }
}
