.message {
  margin-top: 3.75rem;
  margin-left: 1.125rem;

  font-family: var(--space-mono);

  min-width: 350px;
}

.message__title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.5rem;
  color: var(--grey-1);
}

.message__text {
  height: 5rem;

  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: var(--grey-2);
  letter-spacing: -3.5%;

  margin-top: 2rem;
  margin-bottom: 4rem;
}

.message__btn {
  text-transform: uppercase;

  box-sizing: border-box;
  background-color: var(--grey-1);
  color: var(--white);

  font-family: var(--space-mono);
  font-weight: 700;
  font-size: 0.8rem;

  height: 4.25rem;
  width: 13.5rem;

  border-style: none;
  border: none;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .message__title {
    font-size: 4rem;
    font-style: normal;
    line-height: 5.875rem;

    max-width: 880px;
  }

  .message__text {
    height: 6.75rem;
    width: 90%;

    font-size: 1.5rem;
    line-height: 2.125rem;

    max-width: 400px;
  }
}
